In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [5]:
train_test_df = pd.read_csv('modelling_exercise/kickstarter_train_test_onehot.csv', index_col='ID')
y_col = 'usd_smooth_pledged_per_day'
hidden_dims = (256, 256)

In [6]:
train_test_df.describe()

,total_campaign_days,usd_smooth_pledged_per_day,backers_per_day,usd_goal_per_day,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,...,main_category_Fashion,main_category_Film & Video,main_category_Food,main_category_Games,main_category_Journalism,main_category_Music,main_category_Photography,main_category_Publishing,main_category_Technology,main_category_Theater
count,367479.000000,367479.000000,367479.000000,3.674790e+05,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,...,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000
mean,33.848405,288.569479,3.537995,2.223188e+03,0.001788,0.002406,0.008330,0.001987,0.000683,0.006830,...,0.060588,0.168475,0.065348,0.093788,0.012692,0.132984,0.028900,0.104814,0.086280,0.029281
std,62.320518,2776.055681,29.533812,4.819463e+05,0.042245,0.048988,0.090887,0.044526,0.026126,0.082363,...,0.238574,0.374288,0.247139,0.291533,0.111941,0.339558,0.167525,0.306314,0.280777,0.168592
min,0.005058,0.000000,0.000000,2.832798e-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.096435,1.000267,0.056904,6.709133e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,29.683056,20.344683,0.393702,1.735213e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,36.331447,134.189167,1.910903,5.113791e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,16738.958333,648896.545028,7262.353557,2.903031e+08,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
import tensorflow as tf
import tensorflow_datasets as tfds

In [20]:
test_size = 64000
random_state = 212
BATCH_SIZE = 256

train_test_df = train_test_df.dropna(subset=[y_col])
X = train_test_df.drop(y_col, axis=1)
y = train_test_df[y_col]
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=test_size, random_state=random_state)

In [21]:
def get_basic_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='tanh'),
    tf.keras.layers.Dense(256, activation='tanh'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.MeanSquaredError(),
                metrics=[tf.keras.metrics.MeanSquaredError()])
  return model

In [23]:
model = get_basic_model()
model.fit(X_train, y_train, epochs=15, batch_size=BATCH_SIZE, validation_split=0.1)

Epoch 1/15
1067/1067 [==============================] - 9s 8ms/step - loss: 5938250.5000 - mean_squared_error: 5938250.5000 - val_loss: 8411412.0000 - val_mean_squared_error: 8411412.0000
Epoch 2/15
1067/1067 [==============================] - 8s 8ms/step - loss: 5853036.5000 - mean_squared_error: 5853036.5000 - val_loss: 8336917.0000 - val_mean_squared_error: 8336917.0000
Epoch 3/15
1067/1067 [==============================] - 8s 7ms/step - loss: 5787828.0000 - mean_squared_error: 5787828.0000 - val_loss: 8262192.0000 - val_mean_squared_error: 8262192.0000
Epoch 4/15
1067/1067 [==============================] - 9s 8ms/step - loss: 5728221.0000 - mean_squared_error: 5728221.0000 - val_loss: 8203587.0000 - val_mean_squared_error: 8203587.0000
Epoch 5/15
1067/1067 [==============================] - 8s 7ms/step - loss: 5680323.5000 - mean_squared_error: 5680323.5000 - val_loss: 8150541.0000 - val_mean_squared_error: 8150541.0000
Epoch 6/15
1067/1067 [==============================] - 9s 8ms/step - loss: 5632779.5000 - mean_squared_error: 5632779.5000 - val_loss: 8096032.0000 - val_mean_squared_error: 8096032.0000
Epoch 7/15
1067/1067 [==============================] - 9s 8ms/step - loss: 5587215.5000 - mean_squared_error: 5587215.5000 - val_loss: 8050226.5000 - val_mean_squared_error: 8050226.5000
Epoch 8/15
1067/1067 [==============================] - 8s 7ms/step - loss: 5545041.0000 - mean_squared_error: 5545041.0000 - val_loss: 8009982.5000 - val_mean_squared_error: 8009982.5000
Epoch 9/15
1067/1067 [==============================] - 9s 8ms/step - loss: 5519349.5000 - mean_squared_error: 5519349.5000 - val_loss: 7966455.0000 - val_mean_squared_error: 7966455.0000
Epoch 10/15
1067/1067 [==============================] - 9s 8ms/step - loss: 5484513.0000 - mean_squared_error: 5484513.0000 - val_loss: 7985444.0000 - val_mean_squared_error: 7985444.0000
Epoch 11/15
1067/1067 [==============================] - 8s 7ms/step - loss: 5437421.5000 - mean_squared_error: 5437421.5000 - val_loss: 7886417.5000 - val_mean_squared_error: 7886417.5000
Epoch 12/15
1067/1067 [==============================] - 9s 8ms/step - loss: 5409231.5000 - mean_squared_error: 5409231.5000 - val_loss: 7847149.5000 - val_mean_squared_error: 7847149.5000
Epoch 13/15
1067/1067 [==============================] - 8s 7ms/step - loss: 5383766.0000 - mean_squared_error: 5383766.0000 - val_loss: 7823344.0000 - val_mean_squared_error: 7823344.0000
Epoch 14/15
1067/1067 [==============================] - 8s 8ms/step - loss: 5344906.5000 - mean_squared_error: 5344906.5000 - val_loss: 7892706.0000 - val_mean_squared_error: 7892706.0000
Epoch 15/15
1067/1067 [==============================] - 9s 8ms/step - loss: 5323317.5000 - mean_squared_error: 5323317.5000 - val_loss: 7783634.0000 - val_mean_squared_error: 7783634.0000

In [24]:
y_predict = model.predict(X_test)

2000/2000 [==============================] - 3s 2ms/step

In [ ]:
model.save('model_1.h5')