In [1]:
# Importing modules
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [2]:
train_test_df = pd.read_csv('../data/kickstarter_train_test_onehot.csv', index_col='ID')
y_col = 'usd_smooth_pledged_per_day'

In [3]:
train_test_df.shape

(367479, 221)

In [4]:
train_test_df.describe()

,total_campaign_days,usd_smooth_pledged_per_day,backers_per_day,usd_goal_per_day,category_3D Printing,category_Academic,category_Accessories,category_Action,category_Animals,category_Animation,...,main_category_Fashion,main_category_Film & Video,main_category_Food,main_category_Games,main_category_Journalism,main_category_Music,main_category_Photography,main_category_Publishing,main_category_Technology,main_category_Theater
count,367479.000000,367479.000000,367479.000000,3.674790e+05,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,...,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000,367479.000000
mean,33.848405,288.569479,3.537995,2.223188e+03,0.001788,0.002406,0.008330,0.001987,0.000683,0.006830,...,0.060588,0.168475,0.065348,0.093788,0.012692,0.132984,0.028900,0.104814,0.086280,0.029281
std,62.320518,2776.055681,29.533812,4.819463e+05,0.042245,0.048988,0.090887,0.044526,0.026126,0.082363,...,0.238574,0.374288,0.247139,0.291533,0.111941,0.339558,0.167525,0.306314,0.280777,0.168592
min,0.005058,0.000000,0.000000,2.832798e-04,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,29.096435,1.000267,0.056904,6.709133e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,29.683056,20.344683,0.393702,1.735213e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,36.331447,134.189167,1.910903,5.113791e+02,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,16738.958333,648896.545028,7262.353557,2.903031e+08,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [5]:
# import tensorflow as tf - commenting because it has been already imported (need to remove)
# import tensorflow_datasets as tfds - commenting because it is not used (need to remove)

In [6]:
# Note: Configurations like this can be included in a configuration file instead?
test_size = 64000
random_state = 212
BATCH_SIZE = 256

train_test_df = train_test_df.dropna(subset=[y_col])
X = train_test_df.drop(y_col, axis=1)
y = train_test_df[y_col]
X_train, X_test, y_train, y_test = train_test_split(
X, y, test_size=test_size, random_state=random_state)

In [7]:
# sets seeds for base-python, numpy and tf so every run gets to the same results
tf.keras.utils.set_random_seed(42)  
tf.config.experimental.enable_op_determinism()

In [8]:
def get_basic_model():
  model = tf.keras.Sequential([
    tf.keras.layers.Dense(256, activation='tanh'),
    tf.keras.layers.Dense(256, activation='tanh'),
    tf.keras.layers.Dense(1)
  ])

  model.compile(optimizer='adam',
                loss=tf.keras.losses.MeanSquaredError(),
                metrics=[tf.keras.metrics.MeanSquaredError()])
  return model

In [9]:
model = get_basic_model()
model.fit(X_train, y_train, epochs=15, batch_size=BATCH_SIZE, validation_split=0.1)

c:\Users\franc\anaconda3\envs\lner-prediction-explore\lib\site-packages\keras\engine\data_adapter.py:1700: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  return t[start:end]

Epoch 1/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5941196.0000 - mean_squared_error: 5941196.0000 - val_loss: 8418400.0000 - val_mean_squared_error: 8418400.0000
Epoch 2/15
1067/1067 [==============================] - 3s 3ms/step - loss: 5856667.5000 - mean_squared_error: 5856667.5000 - val_loss: 8341505.0000 - val_mean_squared_error: 8341505.0000
Epoch 3/15
1067/1067 [==============================] - 3s 3ms/step - loss: 5789737.0000 - mean_squared_error: 5789737.0000 - val_loss: 8267250.0000 - val_mean_squared_error: 8267250.0000
Epoch 4/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5733759.0000 - mean_squared_error: 5733759.0000 - val_loss: 8202374.0000 - val_mean_squared_error: 8202374.0000
Epoch 5/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5676716.0000 - mean_squared_error: 5676716.0000 - val_loss: 8146204.0000 - val_mean_squared_error: 8146204.0000
Epoch 6/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5627580.5000 - mean_squared_error: 5627580.5000 - val_loss: 8092989.5000 - val_mean_squared_error: 8092989.5000
Epoch 7/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5583018.0000 - mean_squared_error: 5583018.0000 - val_loss: 8046997.5000 - val_mean_squared_error: 8046997.5000
Epoch 8/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5540643.5000 - mean_squared_error: 5540643.5000 - val_loss: 8046759.0000 - val_mean_squared_error: 8046759.0000
Epoch 9/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5503789.5000 - mean_squared_error: 5503789.5000 - val_loss: 7975394.0000 - val_mean_squared_error: 7975394.0000
Epoch 10/15
1067/1067 [==============================] - 2s 2ms/step - loss: 5476805.0000 - mean_squared_error: 5476805.0000 - val_loss: 7921211.0000 - val_mean_squared_error: 7921211.0000
Epoch 11/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5441685.0000 - mean_squared_error: 5441685.0000 - val_loss: 7964310.5000 - val_mean_squared_error: 7964310.5000
Epoch 12/15
1067/1067 [==============================] - 3s 3ms/step - loss: 5418726.0000 - mean_squared_error: 5418726.0000 - val_loss: 7863406.5000 - val_mean_squared_error: 7863406.5000
Epoch 13/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5391274.0000 - mean_squared_error: 5391274.0000 - val_loss: 7840727.0000 - val_mean_squared_error: 7840727.0000
Epoch 14/15
1067/1067 [==============================] - 3s 3ms/step - loss: 5349979.0000 - mean_squared_error: 5349979.0000 - val_loss: 7776368.0000 - val_mean_squared_error: 7776368.0000
Epoch 15/15
1067/1067 [==============================] - 3s 2ms/step - loss: 5312966.0000 - mean_squared_error: 5312966.0000 - val_loss: 7740831.0000 - val_mean_squared_error: 7740831.0000

In [10]:
y_predict = model.predict(X_test)

2000/2000 [==============================] - 3s 2ms/step

In [11]:
model.save('model_1.h5')